<div class="container">
  <h1>FAQ</h1>
  <h2 class="faq bg-info">ピザ・コレクションとは？</h2>
  <p class="faq">ピザを集める</p>
  <h2 class="faq bg-info">あああ</h2>
  <p class="faq">AAA</p>
  <h2 class="faq bg-info">課金要素はありますか？</h2>
  <p class="faq">基本無料ですが、お金を貰えるならピザを食べるか焼き肉行きましょう。</p>
  <h2 class="faq bg-info">fuag</h2>
  <p class="faq">hgoe</p>
  <h2 class="faq bg-info">にゃんにゃあん</h2>
  <p class="faq">にゃー</p>
</div>
