<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">ピザ・コレ</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <% if @session[:user] == nil %>
              <a href="/">Home</a>
            <% else %>
              <a href="<%= @session[:user] %>/home">Home</a>
            <% end %>
          </li>
          <li><a href="#">Pizza</a></li>
          <li><a href="/session">Logout</a></li>
          <li>
            <% if @session[:user] == nil %>
              <a href="#">Welcome, anonymous !</a>
            <% else %>
              <a href="#">Welcome, <%= @session[:user] %></a>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
