<div class="container login">
  <form action="/session" method="post" class="form-signin">
    <h2 class="form-signin-heading">ログインでーす</h2>
    <input type="text" class="form-control" name="user_name" pattern="^[0-9A-Za-z]+$" placeholder="user name" required>
    <input type="password" class="form-control" name="password" placeholder="password" required>
    <button type="submit" class="btn btn-primary btn-block">ログイン!!</button>
  </form>
</div>
