<div class="container login">
  <form action="/regist_user" method="post" class="form-horizontal">
    <h2 class="form-singin-heading">着任式でーす</h2>
    <% if @duplicate == true %>
      <p>ソビエトロシアでは登録が既にその名前されている!</p>
    <% end %>
    <input type="text" class="form-control" name="user_name" pattern="^[0-9A-Za-z]+$" placeholder="user name" required>
    <input type="password" class="form-control" name="password" placeholder="password" required>
    <button type="submit" class="btn btn-primary btn-block">登録!!</button>
  </form>
</div>
