<div class="container">
  <div class="row-fluid">
  <div class="text-center" id="logo">
    <a href="/"><img id="logo" src="/img/logo.png" alt="logo"></a>
  </div>
  <div id="regist pull-right">
    <a href="/regist_form"><img src="/img/regist.png" alt="regist"></a>
  </div>
  <div class="col-xs-6 col-xs-offset-3" id="update-log">
    <!-- ここに直書きするのなんかアレっぽい... -->
    <h3>更新履歴</h3>
    <ul>
      <li><a href="#">hoge月fuga日</a></li>
      <li><a href="#">hoge月fuga日</a></li>
      <li><a href="#">hoge月fuga日</a></li>
      <li><a href="#">hoge月fuga日</a></li>
      <li><a href="#">hoge月fuga日</a></li>
      <li><a href="#">hoge月fuga日</a></li>
    </ul>
  </div>
</div>
</div>
