dl {
  width: 200px;
  float: left;
  margin: 20px;
}

dd {
  margin-top: 12px;
}

img {
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0,0,0,.5);
  -moz-box-shadow: 5px 5px 10px 2px rgba(0,0,0,.5);
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.5);
}

h2.faq {
  margin: 20px;
  font-size: 22px;
  padding: 10px;
  border-left: 5px solid #0033FF;
}

h2.pizza {
  margin: 20px;
  padding: 10px;
  border-left: 5px solid #FF0000;
}

p.faq {
  margin-left: 50px;
}

div.pizzas {
  margin: 0 auto;
}
